<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <%- include('menu.html') %>
        <h1>상세 내용</h1>
        <h2>제목 : <%=data.title %></h2>
        <h3>내용 : <%=data.content %></h3>
        <h4>작성일 : <%=data.date %></h4>
        <a href="/edit/<%= data._id %>" class="card-link">수정하기</a>
    </body>
</html>
